# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/ui/dist/
/ui/tmp/

# dependencies
/ui/bower_components/
/ui/node_modules/

# misc
/ui/.env*
/ui/.pnp*
/ui/.sass-cache
/ui/connect.lock
/ui/coverage/
/ui/libpeerconnection.log
/ui/npm-debug.log*
/ui/testem.log
/ui/yarn-error.log

# ember-try
/ui/.node_modules.ember-try/
/ui/bower.json.ember-try
/ui/package.json.ember-try
