# See https://help.github.com/ignore-files/ for more about ignoring files.

/beginner/node_modules
/intermediate/node_modules
/advanced/node_modules


# ember-try
/ui/.node_modules.ember-try/
/ui/bower.json.ember-try
/ui/package.json.ember-try
